*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
h2{
    text-transform: uppercase;
}
.resumse{
    margin: 0;
    background-color: black ;
    max-width: 354px;
    width: 40%;
    margin: 0 4%;
    padding: 0 4%;
}
.resumse > p {
    font-size: 24px;
   
    color: white;
    padding-top: 32px ;
    width: 20%;
    margin: 0 5%;
    padding-bottom: 12px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 2px;
}
.introduce  {
    margin: 50px 5% ;
    background-color: #fff;
}

.introduce > h1 {
    font-size: 54px;
    letter-spacing: 12px;
    margin: 0 40px;
    opacity: 0.5;
    text-transform: uppercase;
}
.introduce > p {
    margin: 0 40px;
    opacity: 0.5;
    font-size: 20px;
}
.col30 {
    width: 40%;
}
.col60 {
    width: 60%;
}
.col35 {
    width: 35%;
}
.col55 {
    width: 55%;
}
.detail ,.container{
    display: flex;
}
.cv-detail{ 
    display: flex; 
    flex-direction: column;
}
.container{
    position: absolute;
}
.infomation {
    background-color: #000;
    color: #fff;
    margin: 0 5%;
    padding: 0 5%;
}
.infomation > img {
    width: 90%;
    margin: 5% 5%;

   
    
}
.proflie {
    font-size: 24px;
    margin: 12px 8px;
    font-weight: 500;
}
.value {
    font-size: 24px;
    font-style: italic;
    margin: 12px 8px;
}
.list {
    list-style: none;
    padding-left: 4px;
}
.list > li {
    font-size: 24px;
    font-style: italic;
    margin: 12px 8px;
    padding: 4px;
}
.cv-detail {

}
.detail > .col30{
    margin : 0 12px;
}
.cv-detail--exp .detail .col60 > h4 {
    opacity: 0.5;
    font-style: italic;
    margin: 2px 2px;
}
.cv-detail--exp .detail .col60 > h3 {
    opacity: 0.5;
    margin: 2px 2px;
}
.col35 > p {
    margin: 4px 8px;
}
.chart {
    width: 80%;
    height: 8px; 
    background-color: #fff;
    border: solid black;
    margin: 4px 8px;
}
.chart2 {
    margin-top: -3px;
    width: 40%;
    height: 8px; 
    background-color: black;
    border: solid black;
}
