

body {
    margin: 0 2%;
    font-size: 16px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#menu-mobile {
    display: none;
}
.footer-logo > img ,.header-logo > img {
    width: 400px;
    
}
.border-bottom {
    border-bottom: 2px solid grey;
    width: 90%;
    margin: 2% 5%;
}
.header-nav li {
    display:inline-block ;
}
.header-nav a {
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    padding:4px 8px 4px 8px;
    border-right: 2px solid black;
    color: rgba(0,0,0,0.6);
    font-weight: 700;
    margin-top : 20px; 
    
}
.header-nav a:hover {
    background-color: #97c93c; 
}
.container {
    display: flex;
    flex-direction: column;
}
.tittle {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
    background-color:#97c93c ;
    border-radius: 5px;
}
.tittle > img {
    width:30px;
}
.container-banner img {
    width: 100%;
}
.container-content{
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}
.col32 {
    width: 32%;  
}
.container--content--left {
    display: flex;
    flex-direction: column;
}
.left-content-first {
    display: flex;
}
.left-content-first img {
    width: 50%;
    padding-right: 8px;
}
.left-content h4 {
    color: chocolate;
}
.left-content ul {
    list-style: square;
}
.left-content li {
    font-weight: bolder;
}
.container--content--mid {
    display: flex;
    flex-direction: column;
    margin: 0 2%;  
}
.mid-content img  {
    width: 100%;
}
.mid-content p {
    color: chocolate;
    font-weight: bold;
}
.mid-content span {
    color: black;
    background-color: #97c93c;
    text-transform: uppercase;
    font-weight: bolder;
    line-height: 20px;
    font-size: 20px;
}

.container--content--right {
    display: flex;
    flex-direction: column;
}
.content-right {
    padding:12px 0 ;
}
.content-right a {
    text-decoration: none;
    display: block;
    background-color: #97c93c;
    margin-left:10% ;
    border-radius: 5px;
    margin-bottom: 12px;
    margin-top: 12px;
    padding: 4px 0  ;
    color: black;
}
footer {
    display: flex;
    flex-direction: row;   
    justify-content: space-around;
    border-bottom: black 1px solid;
    margin-bottom: 15px;
}
.footer-logo {
    width: 30%;
}
.footer-contact {
    width: 35%;
    text-align: right;
    font-size: 20px;

}
.footer-copyright {
    width: 35%;
    text-align: left;
    font-size: 20px;
}
@media screen and (max-width : 1024px) {
    .header-logo{
     display: none;   
    }
    .header-nav{
        width: 100%;
    }
    .col32 {
        width: 80%;
    }
    .container-content {
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-logo {
        display: none;
    }
}
@media screen and (max-width : 414px) {
   header {
        display: block;
        height: 40px;
        overflow: hidden;
   }
   .header-nav ul {
        padding: 0;
        margin: 0;
   }
   .header-nav li {
       display: block;
       
   }
   .header-nav li:hover {
       background-color:#97c93c ;
       margin: 0;
   }
   .header-nav a {
       border: none;
       line-height: 26px;
        margin: 0;
   }
  #menu-mobile  {
       display: block;
       margin-top: 4px;
       width:30px;
       font-size: 30px;
       text-align: center;
   }
   .footer-contact {
        width: 35%;
        text-align: right;
        font-size: 12px;
    }
    .footer-copyright {
        width: 35%;
        text-align: left;
        font-size: 12px;
    }
}